mixin clendar-from(id, legend)
    fieldset 
        label(for="" class="datepicker__label")=legend 
        .calendar
            input(type="text" id=id class="calendar__input" placeholder="ДД.ММ.ГГГГ")
            div(class="calendar__arrow-down" id=id + "__arrow-down")


mixin clendar-to(id, legend)
    fieldset
        label(for="" class="datepicker__label")=legend 
        .calendar
            input(type="text" id=id  class="calendar__input" placeholder="ДД.ММ.ГГГГ")
            div(class="calendar__arrow-down" id=id + "__arrow-down")


mixin one-block-calendar(id, legend)
    fieldset
        label(for="" class="datepicker__label")=legend 
        .calendar       
            input(class="calendar__oneblock-input" type="text" id=id data-range="true" data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ" autocomplete="off")
            div(class="calendar__arrow-down" id=id + "__arrow-down")   